.lightModeSelector {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 2rem;
}
.lightModeSelector:hover {
  cursor: pointer;
}
.darkMode {
  background: #1a1a1a;
  color: #ffffff;
  min-height: 100vh;
}
.darkMode button {
  background: #353740;
  color: #ffffff !important;
}
.darkMode input[type="text"] {
  color: #ffffff;
  background: #1a1a1a !important;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.262) !important;
}
.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  font-family: "Karla", sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 3rem;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  margin: 16px 0 40px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.main input[type="text"] {
  padding: 14px 16px;
  border: none;
  border-radius: 25px;
  background-color: #ffffff;
  margin: 24px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 9px;
  color: #eb4733;
  background-color: transparent;
  border: 1.5px solid #eb4733;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  width: 25%;
}
.main input[type="submit"]:hover {
  background-color: #eb4733;
  color: white;
}
.main .result {
  font-weight: bold;
}

.submit {
  display: flex;
  align-items: baseline;
}

.submit p {
  margin: 0 0 0 1.5rem;
  color: #eb4733;
  transition: 0.3s opacity ease-in-out ;
}
.responseSection {
  margin-top: 2rem;
  width: 60%;
  border-radius: 5px;
}
.subtitleSection {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.subtitleSection h2 {
  text-align: left;
  margin-top: 2rem;
}
.subtitleSection p {
  cursor: pointer;
}
.responseContainer {
  border-top: 1.5px solid #eb4733;
  padding: 1rem;
}
.response {
  font-weight: bold;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: auto;
}
.buttonContainer button {
  border: none;
  padding: .4rem 1.5rem;
  margin-right: .3rem;
  margin-top: .8rem;
  border-radius: 25px;
  color: #353740;
}
.selectedButton, .buttonContainer button:hover {
  background:#eb4733 !important;
  color: white !important;
  cursor: pointer;
}
